@media screen and (max-width:1000px){

    html{
        font-size: 100px;
    }
    
    .container{
        min-height: 100vh;

        .aside{
            display: none;
        }

        .aside2{
            cursor: pointer;
            display: none;
            position: fixed;
            z-index: 10;
            top: 40px;

            .aside-wrapper{
                width: 230px;
                height: 100vh;
                border-right: 0.01rem solid gray;
                background-color: #333;
                padding-top: 10vh;

                .aside_list{
                    display: none;
                    padding-left: 0.32rem;
                }
               
                ul{
                    list-style: none;
                    border-bottom: 1px solid gray;
                    
                    a{
                        cursor: pointer;
                        font-size: 0.16rem;
                        color: white;
                        display: block;
                        padding: 0.1rem 0.1rem ;
                       
                    }
                }
            }
        }

        .top_bar{
            display: block;
            position: fixed;
            z-index: 10;
            top: 0;
            width: 100%;
            height: 40px;
            padding: 0 10px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            img{
                width: 23px;
                height: 28px;
                background-color: white;
            }
        }

        .header{
            .header-wrapper{
                margin-left: 0;
                margin-top: 40px;
            }
        }
        .main{
            .main-wrapper{
                margin: 10vh 0 0 0;

                .slides-wrapper{
                    width: 100vw;
                    height: 300px;

                    .slides-container{
                        .slide{
                            height: 300px;
                        }
                    } 
                }

                .phone_card-wrapper{
                    .phone_card-container{
                        display: grid;
                        grid-template-columns: repeat(2,50%);
                        justify-content: center;
                        gap: 0.2rem;
                        width: 100%;
                        max-width: 80%;
                        margin: 0 auto;
                    }
                }

                .information-wrapper{
                    padding-left: 0;
                       padding-right: 0;
                   .information-container{
                       margin: 0 5%;
                   }
                }

                .search_plan-wrapper{
                    padding-left: 0.15rem;
                    padding-right: 0.15rem;

                    .search_plan-container{
                        .plan_result{
                            .result{
                                table{
                                    width: 100%;
                                    .display1{
                                         width: 30%;
                                    }
         
                                    .display2{
                                         width: 70%;
                                    }
                                }
                            }
                         }
                    }
                }

                .search_bar-wrapper{
                    
                    width: 100%;
                    top: 10vh;
    
                    .search_bar-container{
                        width: 100%;
                        margin-top: 40px;
                    }
                }

                .phone_data-wrapper{
                    grid-template-columns: repeat(auto-fit, 100vw);
                    margin-top: calc(10vh + 70px );

                    .phone_data-container{
                        .phone_data{
                            .phone{
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
        .footer{
            .footer-wrapper{
                margin-left: 0;
                margin-top: 40px;
            }
        }
    }
}

@media(min-width:1001px){
    .container{
        .aside{
            display: block;
        }
    }
}

@media screen and (max-width:420px){

    html{
        font-size: 70px;
    }
    
    .container{
        .main{
            .main-wrapper{
                .search_plan-wrapper{
                    .search_plan-container{
                        .plan_result{
                            .result{
                                table{
                                    width: 100%;
                                    .display1{
                                         width: 30%;
                                    }
         
                                    .display2{
                                         width: 70%;
                                    }
                                }
                            }
                         }
                    }
                }

               .plan_list-wrapper{
                    margin-left: 0.15rem;
                    margin-right: 0.15rem;
                }

                .campaign_info-wrapper{
                    margin-left: 0.15rem;
                    margin-right: 0.15rem;
                    .campaign_info-container{
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}